*{
    margin :0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(bg.png);
    background-size: cover;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#c25b54,#4933d6);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    background: #ebfffc;
    color: #555;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    cursor: pointer;
    padding: 15px;
}
.search button img{
    width: 25px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
    border-radius: 25%;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 20px;
    margin-top: -6px;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
    color: red;
}

@media only screen and (max-width:500px){
    
    body{
        background-image:none;
        background-size: cover;
    }
    .card{
        height:100%;
        width:100%;
    }
    .weather-icon{
    width: 99px;
    margin-top: 30px;
    border-radius: 25%;
    }
    .search input{
    height:42px;
    width:180px;
      font-size:12px;  
    }
    .search button{
    border: 0;
    background: #fff;
    color: #555;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    cursor: pointer;
    margin:-5px;
}
.search button img{
    width: 20px;
    margin:-5px;
}
    .weather h1{
    font-size: 50px;
}
.weather h2{
    font-size: 35px;
    margin-top: -10px;
}
    .col img{
    width: 25px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 11px;
    margin-top: -6px;
}
    .col p{
        font-size:12px;
        margin:5px;
    }
    .col{
    display: flex;
    align-items: center;
    
}
}